<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CoreImageTransitions</string>
	<key>CFBundleGetInfoString</key>
	<string>4.0, Copyright Apple Computer, Inc. 2003-2006</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iMovie.CoreImageTransitions</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CoreImageTransitions</string>
	<key>CFBundlePackageType</key>
	<string>tran</string>
	<key>CFBundleShortVersionString</key>
	<string>6.0</string>
	<key>CFBundleSignature</key>
	<string>Hway</string>
	<key>CFBundleVersion</key>
	<string>81</string>
	<key>FilterArray</key>
	<array>
		<dict>
			<key>Angle</key>
			<dict>
				<key>FilterKey</key>
				<string>inputAngle</string>
			</dict>
			<key>Center</key>
			<dict>
				<key>FilterKey</key>
				<string>inputCenter</string>
			</dict>
			<key>FilterName</key>
			<string>CIModTransition</string>
			<key>Sliders</key>
			<array>
				<dict>
					<key>DefaultValue</key>
					<real>300</real>
					<key>FilterKey</key>
					<string>inputCompression</string>
					<key>MaxName</key>
					<string>Max</string>
					<key>MaxValue</key>
					<real>800</real>
					<key>MinName</key>
					<string>Min</string>
					<key>MinValue</key>
					<real>1</real>
					<key>Name</key>
					<string>Compression</string>
				</dict>
				<dict>
					<key>DefaultValue</key>
					<real>150</real>
					<key>FilterKey</key>
					<string>inputRadius</string>
					<key>MaxName</key>
					<string>Max</string>
					<key>MaxValue</key>
					<real>200</real>
					<key>MinName</key>
					<string>Min</string>
					<key>MinValue</key>
					<real>1</real>
					<key>Name</key>
					<string>Radius</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Center</key>
			<dict>
				<key>FilterKey</key>
				<string>inputCenter</string>
			</dict>
			<key>FilterName</key>
			<string>CIRippleTransition</string>
			<key>Images</key>
			<array>
				<dict>
					<key>FileName</key>
					<string>shine.png</string>
					<key>FilterKey</key>
					<string>inputShadingImage</string>
				</dict>
			</array>
			<key>Sliders</key>
			<array>
				<dict>
					<key>DefaultValue</key>
					<real>50</real>
					<key>FilterKey</key>
					<string>inputScale</string>
					<key>MaxName</key>
					<string>Max</string>
					<key>MaxValue</key>
					<real>50</real>
					<key>MinName</key>
					<string>Min</string>
					<key>MinValue</key>
					<real>-50</real>
					<key>Name</key>
					<string>Displacement</string>
				</dict>
				<dict>
					<key>DefaultValue</key>
					<real>30</real>
					<key>FilterKey</key>
					<string>inputWidth</string>
					<key>MaxName</key>
					<string>Max</string>
					<key>MaxValue</key>
					<real>1000</real>
					<key>MinName</key>
					<string>Min</string>
					<key>MinValue</key>
					<real>1</real>
					<key>Name</key>
					<string>Wave Width</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>FilterName</key>
			<string>CIDisintegrateWithMaskTransition</string>
			<key>Images</key>
			<array>
				<dict>
					<key>FileName</key>
					<string>fog.png</string>
					<key>FilterKey</key>
					<string>inputMaskImage</string>
				</dict>
			</array>
			<key>Sliders</key>
			<array>
				<dict>
					<key>DefaultValue</key>
					<real>8</real>
					<key>FilterKey</key>
					<string>inputShadowRadius</string>
					<key>MaxName</key>
					<string>Max</string>
					<key>MaxValue</key>
					<real>50</real>
					<key>MinName</key>
					<string>Min</string>
					<key>MinValue</key>
					<real>0.0</real>
					<key>Name</key>
					<string>Shadow Radius</string>
				</dict>
				<dict>
					<key>DefaultValue</key>
					<real>0.65000000000000002</real>
					<key>FilterKey</key>
					<string>inputShadowDensity</string>
					<key>MaxName</key>
					<string>Max</string>
					<key>MaxValue</key>
					<real>1</real>
					<key>MinName</key>
					<string>Min</string>
					<key>MinValue</key>
					<real>0.0</real>
					<key>Name</key>
					<string>Shadow Density</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
