<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>_LOCALIZABLE_</key>
<dict>
	<key>menuName</key>
	<array>
		<string>Adjust Colors</string>
		<string>Black &amp; White</string>
		<string>Brightness &amp; Contrast</string>
		<string>Sharpen</string>
	</array>
	<key>minMaxLabel</key>
	<array>
		<string>Left</string>
		<string>Right</string>
		<string>B&amp;W</string>
		<string>Vivid</string>
		<string>Dark</string>
		<string>Bright</string>
		<string>Dark</string>
		<string>Bright</string>
		<string>Low</string>
		<string>High</string>
		<string>Low</string>
		<string>High</string>
	</array>
	<key>sliderLabel</key>
	<array>
		<string>Hue Shift:</string>
		<string>Color:</string>
		<string>Lightness:</string>
		<string>Brightness:</string>
		<string>Contrast:</string>
		<string>Amount:</string>
		<string>Softness:</string>
		<string>Amount:</string>
	</array>
</dict>
</dict>
</plist>
