<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>_LOCALIZABLE_</key>
<dict>
	<key>groupName</key>
	<array>
		<string>Bouncing</string>
		<string></string>
		<string></string>
		<string>Flying</string>
		<string>Flying</string>
		<string></string>
		<string>Scrolling</string>
		<string>Scrolling</string>
		<string>Scrolling</string>
		<string>Scrolling</string>
		<string>Subtitles</string>
		<string>Typing</string>
		<string>Typing</string>
	</array>
	<key>menuName</key>
	<array>
		<string>Bounce In To Center</string>
		<string>Centered Title</string>
		<string>Drifting</string>
		<string>Flying Letters</string>
		<string>Flying Words</string>
		<string>Music Video</string>
		<string>Rolling Centered Credits</string>
		<string>Rolling Credits</string>
		<string>Scroll with Pause</string>
		<string>Scrolling Block</string>
		<string>Stripe Subtitle</string>
		<string>Typewriter</string>
		<string>Video Terminal</string>
	</array>
	<key>progressString</key>
	<array>
		<string>Creating Title...</string>
	</array>
</dict>
</dict>
</plist>
