<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ClipToChars</string>
	<key>CFBundleGetInfoString</key>
	<string>4.0, Copyright Apple Computer, Inc. 2003-2006</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iMovie.ClipToChars</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ClipToChars</string>
	<key>CFBundlePackageType</key>
	<string>titl</string>
	<key>CFBundleShortVersionString</key>
	<string>6.0</string>
	<key>CFBundleSignature</key>
	<string>Hway</string>
	<key>CFBundleVersion</key>
	<string>81</string>
</dict>
</plist>
