<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>programmerName</key>
	<array>
		<string>Title BounceInToCenter</string>
		<string>Centered Multiple</string>
		<string>Drifting Title</string>
		<string>Title FlyingLetters</string>
		<string>Title FlyingWords</string>
		<string>Title MusicVideo</string>
		<string>Title RollCenteredCredits</string>
		<string>Title RollCredits</string>
		<string>Title PauseScroll</string>
		<string>Title ScrollingBlock</string>
		<string>Title Stripe</string>
		<string>Title XFiles</string>
		<string>Title VideoTerminal</string>
	</array>
</dict>
</plist>
