<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>programmerName</key>
	<array>
		<string>TX CrossDissolve Fast</string>
		<string>TX FadeIn</string>
		<string>TX FadeOut</string>
		<string>TX Overlap</string>
		<string>TX Push</string>
		<string>TX Scale</string>
	</array>
</dict>
</plist>
