<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>_LOCALIZABLE_</key>
<dict>
	<key>menuName</key>
	<array>
		<string>Ghost Trails</string>
	</array>
	<key>minMaxLabel</key>
	<array>
		<string>Short</string>
		<string>Long</string>
		<string>Small</string>
		<string>Large</string>
		<string>Clear</string>
		<string>Opaque</string>
	</array>
	<key>sliderLabel</key>
	<array>
		<string>Trail:</string>
		<string>Steps:</string>
		<string>Opacity:</string>
	</array>
</dict>
</dict>
</plist>
