<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>_LOCALIZABLE_</key>
<dict>
	<key>groupName</key>
	<array>
		<string>Bouncing</string>
	</array>
	<key>menuName</key>
	<array>
		<string>Bounce Across</string>
	</array>
	<key>minMaxLabel</key>
	<array>
		<string>Calm</string>
		<string>High Seas</string>
	</array>
	<key>sliderLabel</key>
	<array>
		<string>Wave:</string>
	</array>
</dict>
</dict>
</plist>
