<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CoreImageEffects</string>
	<key>CFBundleGetInfoString</key>
	<string>4.0, Copyright Apple Computer, Inc. 2003-2006</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iMovie.CoreImageEffects</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CoreImageEffects</string>
	<key>CFBundlePackageType</key>
	<string>fltr</string>
	<key>CFBundleShortVersionString</key>
	<string>6.0</string>
	<key>CFBundleSignature</key>
	<string>Hway</string>
	<key>CFBundleVersion</key>
	<string>81</string>
	<key>FilterArray</key>
	<array>
		<dict>
			<key>FilterName</key>
			<string>CISepiaTone</string>
			<key>Sliders</key>
			<array>
				<dict>
					<key>DefaultValue</key>
					<real>1</real>
					<key>FilterKey</key>
					<string>inputIntensity</string>
					<key>MaxName</key>
					<string>Max</string>
					<key>MaxValue</key>
					<real>1</real>
					<key>MinName</key>
					<string>NoSepia</string>
					<key>MinValue</key>
					<real>0.0</real>
					<key>Name</key>
					<string>Intensity</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>FilterName</key>
			<string>CIEdges</string>
			<key>Sliders</key>
			<array>
				<dict>
					<key>DefaultValue</key>
					<real>1</real>
					<key>FilterKey</key>
					<string>inputIntensity</string>
					<key>MaxName</key>
					<string>Max</string>
					<key>MaxValue</key>
					<real>10</real>
					<key>MinName</key>
					<string>Min</string>
					<key>MinValue</key>
					<real>0.0</real>
					<key>Name</key>
					<string>Intensity</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Center</key>
			<dict>
				<key>FilterKey</key>
				<string>inputCenter</string>
			</dict>
			<key>FilterName</key>
			<string>CIGlassDistortion</string>
			<key>Images</key>
			<array>
				<dict>
					<key>FileName</key>
					<string>stipple.png</string>
					<key>FilterKey</key>
					<string>inputTexture</string>
				</dict>
			</array>
			<key>Sliders</key>
			<array>
				<dict>
					<key>DefaultValue</key>
					<real>200</real>
					<key>FilterKey</key>
					<string>inputScale</string>
					<key>MaxName</key>
					<string>Max</string>
					<key>MaxValue</key>
					<real>500</real>
					<key>MinName</key>
					<string>Min</string>
					<key>MinValue</key>
					<real>0.001</real>
					<key>Name</key>
					<string>Scale</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>FilterName</key>
			<string>CICrystallize</string>
			<key>Sliders</key>
			<array>
				<dict>
					<key>DefaultValue</key>
					<real>20</real>
					<key>FilterKey</key>
					<string>inputRadius</string>
					<key>MaxName</key>
					<string>Max</string>
					<key>MaxValue</key>
					<real>100</real>
					<key>MinName</key>
					<string>Min</string>
					<key>MinValue</key>
					<real>1</real>
					<key>Name</key>
					<string>Radius</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>FilterName</key>
			<string>CIEdgeWork</string>
			<key>Sliders</key>
			<array>
				<dict>
					<key>DefaultValue</key>
					<real>3</real>
					<key>FilterKey</key>
					<string>inputRadius</string>
					<key>MaxName</key>
					<string>Max</string>
					<key>MaxValue</key>
					<real>20</real>
					<key>MinName</key>
					<string>Min</string>
					<key>MinValue</key>
					<real>0.0</real>
					<key>Name</key>
					<string>Radius</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
