<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>_LOCALIZABLE_</key>
<dict>
	<key>menuName</key>
	<array>
		<string>Rain</string>
	</array>
	<key>minMaxLabel</key>
	<array>
		<string>Min</string>
		<string>Max</string>
		<string>Min</string>
		<string>Max</string>
	</array>
	<key>sliderLabel</key>
	<array>
		<string>Amount:</string>
		<string>Wind:</string>
	</array>
</dict>
</dict>
</plist>
